<div class="row text-center">
    <div class="col-sm-4 device-model">
        <img ng-src="{{ image_url }}" class="center img-rounded img-responsive"/>

        <h3>{{ image_label }}</h3>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="device-make swap-locations">
                <a href="#"
                   class="swap-location device-model-item"
                   ng-repeat="network in networks"
                   ng-click="selectNetwork($event,network,'device-condition')">
                    <img ng-src="{{ network.logo_url }}" class="center img-rounded img-responsive"/>

                    <h3>{{ network.name }}</h3>
                </a>
            </div>
        </div>
    </div>
</div>