<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Devices</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Make</td>
            <td>Model</td>
            <td>Sizes</td>
            <td>Colors</td>
            <td>Baseline Price</td>
            <td>Conditions</td>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-row" ng-repeat="value in models">
            <td>{{ value.gadget_maker.name }}</td>
            <td>{{ value.model }}</td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="s in value.sizes"> {{ s.value }}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="s in value.colors"> {{ s.value }}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="s in value.base_line_prices">{{ s.size }}: N{{ s.value }}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>Normal - {{ value.gadget_maker.normal_condition }}%</li>
                    <li>Faulty - {{ value.gadget_maker.scratched_condition }}%</li>
                    <li>Bad - {{ value.gadget_maker.bad_condition }}%</li>
                </ul>
            </td>
            <td>
                <a ng-click="deleteItem(value.id)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>