<div class="inmates-menu-items">
    <a ui-sref="ticket.add.stepOne" class="menu-item">
        <span class="fa fa-plus"></span>
        <h4>New Ticket</h4>
    </a>

    <a ui-sref="ticket.list" class="menu-item">
        <span class="fa fa-list-alt"></span>
        <h4>All Tickets</h4>
    </a>

    <a ui-sref="ticket.import" class="menu-item">
        <span class="fa fa-list-alt"></span>
        <h4>Import Tickets</h4>
    </a>

    <a ng-show="showSettings" ui-sref="ticket.config" class="menu-item">
        <span class="fa fa-cog"></span>
        <h4>Configuration</h4>
    </a>
</div>

<h3>Recent Tickets</h3>
<hr/>
<div class="inmates-menu-items">
    <a ui-sref="ticket.show({id: ticket.id})" class="menu-item inmate-item" ng-repeat="ticket in tickets">
        <div class="inmate-pic">
            <span class="fa fa-user"></span>
        </div>

        <div class="inmate-bio">
            <h4>{{ ticket.customer_last_name}}, {{ ticket.customer_first_name }}</h4>
            <h4>{{ ticket.hashcode }}</h4>

            <p><span class="fa fa-clock-o"></span> {{ ticket.created_date }}</p>
        </div>
    </a>
</div>