<div class="inmates-menu-items">
    <a ui-sref="ticket.show({id: item.id})" class="menu-item inmate-item" ng-repeat="item in result">
        <div class="inmate-pic">
            <span class="fa fa-user"></span>
        </div>

        <div class="inmate-bio">
            <h4>{{ item.customer_last_name}}, {{ item.customer_first_name }}</h4>
            <h4>{{ item.hashcode }}</h4>
        </div>
    </a>

</div>

<nav>
    <ul class="pager search-result-pager">
        <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
        <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
    </ul>
</nav>