<div class="row" style="margin-top: 20px">

    <div class="col-sm-12">
        <form class="form-inline">
            <div class="row" ng-repeat="(title, grade) in gradingSystem" style="margin-top: 10px">
                <div class="col-sm-4" ng-init="grade.status ='clear'">
                    <span class="form-control-static">{{ grade.presentation }}</span>
                </div>
                <div class="col-sm-8" form-item-update status="grade.status">
                    <input type="text" ng-blur="updateGrade(grade)" class="form-control form-inline"
                           value="{{ grade.weight}}" ng-model="grade.weight" placeholder="Value"/>
                    <span class="input-form-item"></span>
                </div>
            </div>

            <input type="submit" value="Save" class="form-inline btn btn-default"/>
        </form>
    </div>
</div>