<div class="row">
    <div class="form-group col-sm-6">
        <form name="createColumnForm">
            <div class="icon-addon addon-lg">
                <input type="text" required ng-model="column_title" class="form-control inmate-search-box"
                       name="column_name" placeholder="Enter Column Title">
                <button ng-click="createColumn(column_title)" ng-disabled="createColumnForm.$invalid"
                        class="btn btn-default search-btn"><span
                        class="fa fa-save"></span></button>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 20px">

    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="col in columns">
                {{ col.value }}
                <button class="btn btn-xs btn-danger pull-right" ng-click="deleteItem(col.name)">Delete</button>
            </li>
        </ul>
    </div>
</div>