@import "app";
@import "themes/theme-b";

body {
  background-color: rgba(0, 0, 0, 0.0175);
}

.content-wrapper{
  background: #ffffff;
}

.nav-pills > li > a.active{
  background-color: @nav-top-bg;
  color: #ffffff;
}