@import "app";
@import "themes/theme-a";

body {
  background-color: rgba(0, 0, 0, 0.0175);
}
.content-wrapper{
  background: #fafbfc;
}
.nav-pills > li > a.active{
  background-color: @nav-top-bg;
  color: #ffffff;
}

.fa-students:before {
  content: "SS";
}

.fa-academics:before{
  content: "AC";
}

.fa-staff:before{
  content: "ST";
}

.fa-reports:before{
  content: "RE";
}

.form-wizard > ol > li {
  text-align: center;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  margin-right: 6%;
  margin-left: 2%;
}

.inline-school-arms {
  display: inline-block;
  width: 200px;
  height: 48px;
  border: 1px solid rgba(0,0,0,0.3);
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 0 0 10px;
  text-align: left;
  position: relative;
  background: rgba(255,255,255,0.8);

  .remove-btn {
    display: inline-block;
    width: 10px;
    float: right;
    clear: both;
  }

  .edit-box {
    display: inline-block;
    width: 70%;

    input.editable-input.form-control.input-xs {
      width: 100px;
    }
  }

}

