<div class="steps-nav">
    <ul class="steps-bar">
        <li><a ng-class="{'active': activeStep == 'stepOne'}"><span>Step One</span></a></li>
        <li><a ng-class="{'active': activeStep == 'stepTwo'}"><span>Step Two</span></a></li>
        <li><a ng-class="{'active': activeStep == 'stepThree'}"> <span>Step Three</span></a></li>
        <li><a ng-class="{'active': activeStep == 'stepFour'}"> <span>Step Four</span></a></li>
        <li><a ng-class="{'active': activeStep == 'stepFinal'}"><span>Finish</span></a></li>
    </ul>
</div>

<div>
    <div class="slide" ui-view></div>
</div>