<div class="text-center">

    <div class="processing-ticket" ng-show="isCreatingTicket">
        <h2>Please Wait while device is graded.....</h2>

        <div class="text-center">
            <img src="/img/loader.gif"/>
        </div>
    </div>

    <div class="alert alert-danger error" ng-show="creationError">
        <p>Error occurred while creating ticket, try again.</p>
    </div>

    <div class="device-grade" ng-show="!creationError && !isCreatingTicket">
        <div class="alert alert-info" style="margin-top: 10px;">
            <p>Ticket created Successfully <span><strong>{{ ticket.savedTicket.hashcode }}</strong></span></p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h4>Device Grade</h4>

                <div class="text-center">
                    <span class="device-grade">{{ ticket.savedTicket.device_grade }}</span>
                </div>
            </div>

            <div class="col-sm-8">
                <h4>Your Reward</h4>

                <div class="text-center">
                    <span class="device-reward">{{ ticket.reward | currency: '₦'}}</span>
                </div>
            </div>
        </div>

        <div class="row text-center" style="margin-bottom: 30px">
            <div ng-if="ticket.network_id == airtel.id ">
                <div class="menu-item inmate-item" style="margin-left: auto;margin-right: auto">
                    <div class="inmate-pic">
                        <img ng-src="{{ airtel.logo_url }}" class="img-thumbnail img-responsive"/>
                    </div>

                    <div class="inmate-bio">
                        <h3>+ Airtel Bonus</h3>
                        <h4>{{ airtel.description }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div ng-if="ticket.network_id != airtel.id ">
                <h3>Port to Airtel Now to Enjoy this bonus</h3>
                <hr/>

                <div class="menu-item inmate-item">
                    <div class="inmate-pic">
                        <img ng-src="{{ airtel.logo_url }}" class="img-thumbnail img-responsive"/>
                    </div>

                    <div class="inmate-bio">
                        <h4>{{ airtel.description }}</h4>
                    </div>
                </div>

                <div class="port-to-airtel" style="margin-bottom: 30px">
                    <span>
                        I wish to Port to <strong>Airtel</strong>
                    </span>

                    <div class="btn-group">
                        <label class="btn btn-test btn-default btn-yes" ng-model="ticket.savedTicket.port_to_airtel"
                               btn-radio="1">Yes</label>
                        <label class="btn btn-test btn-default btn-no" ng-model="ticket.savedTicket.port_to_airtel"
                               btn-radio="0">No</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button ng-click="nextStepAcceptTerms()" class="btn btn-success btn-block btn-base">Accepts Offer
                    </button>
                </div>
                <div class="col-sm-6">
                    <button ng-click="goHome()" class="btn btn-danger btn-base btn-block">Rejects Offer</button>
                </div>
            </div>
        </div>
    </div>


</div>