<div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Touch Screen</h3>

            <p>how well does the touch screen work?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.touchScreen.rating"
                       btn-radio="1">Damaged</label>
                <label class="btn btn-test btn-default" ng-model="ticket.gradingSystem.touchScreen.rating"
                       btn-radio="2">Fair</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.touchScreen.rating"
                       btn-radio="3">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>LCD Screen</h3>

            <p>how good is LCD Screen?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.lcdScreen.rating"
                       btn-radio="1">Damaged</label>
                <label class="btn btn-test btn-default" ng-model="ticket.gradingSystem.lcdScreen.rating" btn-radio="2">Fair</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.lcdScreen.rating"
                       btn-radio="3">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Device Casing</h3>

            <p>how neat is the device casing?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceCasing.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-default" ng-model="ticket.gradingSystem.deviceCasing.rating"
                       btn-radio="'2'">Fair</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.deviceCasing.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Keypad and Buttons (if applicable)</h3>

            <p>Are all the buttons functional and undamaged?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceKeypad.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-default" ng-model="ticket.gradingSystem.deviceKeypad.rating"
                       btn-radio="'2'">Fair</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.deviceKeypad.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Camera</h3>

            <p>is the camera funtional?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceCamera.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.deviceCamera.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Ear Piece</h3>

            <p>Is the ear piece working perfectly?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceEarPiece.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.deviceEarPiece.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Speaker & Microphone </h3>

            <p>Is the Speaker and the Microphone working?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceSpeaker.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-yes btn-default" ng-model="ticket.gradingSystem.deviceSpeaker.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Earphone Jack</h3>

            <p>Does the earphone jack work well?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceEarphoneJack.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-yes btn-default"
                       ng-model="ticket.gradingSystem.deviceEarphoneJack.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 test-statement">
            <h3>Charging Port</h3>

            <p>Does the gadget charge through the charging port?</p>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-no btn-default" ng-model="ticket.gradingSystem.deviceChargingPort.rating"
                       btn-radio="'1'">Damaged</label>
                <label class="btn btn-test btn-yes btn-default"
                       ng-model="ticket.gradingSystem.deviceChargingPort.rating"
                       btn-radio="'3'">Perfect</label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <button class="btn base-resize search-btn back-btn pull-right"
                ng-click="nextStepFinal()">Next <span class="fa fa-chevron-right"></span></button>
    </div>

</div>
