<div>

    <div class="form-group row">
        <div class="col-sm-9 test-statement">
            <h3>Device Boot Test</h3>

            <p>does device boot up?</p>
        </div>
        <div class="col-sm-3">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-default btn-yes" ng-model="ticket.test.deviceBoot"
                       btn-radio="'yes'">Yes</label>
                <label class="btn btn-test btn-default btn-no" ng-model="ticket.test.deviceBoot"
                       btn-radio="'no'">No</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9 test-statement">
            <h3>Call/Unlock Test (if applicable)</h3>

            <p>Is the device locked, can it make calls?</p>
        </div>
        <div class="col-sm-3">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-default btn-yes" ng-model="ticket.test.callUnlock"
                       btn-radio="'yes'">Yes</label>
                <label class="btn btn-test btn-default btn-no" ng-model="ticket.test.callUnlock"
                       btn-radio="'no'">No</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9 test-statement">
            <h3>Wireless Connection Test (if applicable)</h3>

            <p>Does the Wi-Fi, Bluetooth work?</p>
        </div>
        <div class="col-sm-3">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-default btn-yes" ng-model="ticket.test.wirelessConnection"
                       btn-radio="'yes'">Yes</label>
                <label class="btn btn-test btn-default btn-no" ng-model="ticket.test.wirelessConnection"
                       btn-radio="'no'">No</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9 test-statement">
            <h3>ICloud Active Test (Apple Products)</h3>

            <p>Is the ICloud service active?</p>
        </div>
        <div class="col-sm-3">
            <div class="btn-group" style="margin-top: 30px">
                <label class="btn btn-test btn-default btn-yes" ng-model="ticket.test.icloudConnection"
                       btn-radio="'yes'">Yes</label>
                <label class="btn btn-test btn-default btn-no" ng-model="ticket.test.icloudConnection"
                       btn-radio="'no'">No</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div ng-show="!activeNextButton" class="base-resize alert alert-danger text-center"><h4 ng-bind="message"></h4>
        </div>
        <button class="btn base-resize search-btn back-btn pull-right" ng-show="activeNextButton"
                ng-click="nextStepFour()">Next <span class="fa fa-chevron-right"></span></button>
    </div>

</div>