<h4>User Details</h4>
<hr/>
<form name="UserTicketForm" ng-submit="nextStepTwo()">

    <div class="form-group" ng-repeat="TicketColumn in TicketColumns">
        <input type="text" required=""
               placeholder="{{ TicketColumn.value }}"
               name="{{ TicketColumn.name }}"
               ng-pattern="/{{ TicketColumn.pattern }}/"
               ng-model="ticket[TicketColumn.name]"
               class="form-control inmate-search-box"/>
    </div>

    <div class="form-group">
        <button class="btn search-btn back-btn pull-right" ng-disabled="UserTicketForm.$invalid" ng-click="nextStepTwo()">Next <span
                class="fa fa-chevron-right"></span></button>
    </div>
</form>